@model IEnumerable<AutosABC.Models.Auto>

@{
    ViewData["Title"] = "Autos";
}

<h2>Autos</h2>

<p>
    <a asp-action="Create">Crear Auto</a>
</p>

<div class="col-md-4"></div>
<div class="alert alert-success col-md-4" role="alert">
    <h4 class="alert-heading">Reporte TSQL</h4>
    <p style="text-align: justify;">Esta funcionalidad consiste en generar un reporte en TSQL donde se obtenga <strong>la cantidad de autos agrupados por marca y modelo, ordenados por folio donde el color sea blanco.</strong></p>
    <hr>
    <p class="mb-0" style="text-align: center;">
        <a class="btn btn-default" asp-area="" asp-controller="Autos" asp-action="TSQL">Resultado</a>
        @if ((int)@ViewData["TSQL"] > 0)
        {
            <p style="color:red;">Cantidad de autos: @ViewData["tsql"]</p>
        }
        </p>
    </div>
<div class="col-md-4"></div>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Folio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoTransmision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescripcionEstetica)
                </th>
                <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTransmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionEstetica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" title="Editar"><i class="fa fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.ID" title="Ver Detalles"><i class="fa fa-search-plus"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID" title="Eliminar"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
