@model IEnumerable<AutosABC.Models.Auto>

@{
    ViewData["Title"] = "Autos";
}

<h2>Autos</h2>

<p>
    <a asp-action="Create">Crear Auto</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Folio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoTransmision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescripcionEstetica)
                </th>
                <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTransmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionEstetica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" title="Editar"><i class="fa fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.ID" title="Ver Detalles"><i class="fa fa-search-plus"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID" title="Eliminar"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
