@model AutosABC.Models.Solicitud

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroLote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroLote)
        </dd>
        <dt style="margin-top: 30px;">
            Autos en la solicitud
        </dt>
        <dd style="margin-top: 30px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Folio</th>
                        <th>Descripción Estética</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                @foreach (var item in ViewData["AutoList"] as IEnumerable<AutosABC.Models.Auto>)
        {
            <tr>
                <td>@item.Marca</td>
                <td>@item.Modelo</td>
                <td>@item.Folio</td>
                <td>@item.DescripcionEstetica</td>
                <td>
                    @Html.ActionLink("Editar",
                   "Edit",
                   "Autos",
                   new { @item.ID },
                   null)
                </td>
            </tr>
}
            </table>
            <!-- Nuevo auto-->
            @Html.ActionLink("NUEVO",
                           "Crear",
                           "Autos",
                           new { @Model.SolicitudID },
                           null)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SolicitudID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
