@model IEnumerable<AutosABC.Models.Solicitud>

@{
    ViewData["Title"] = "Solicitudes";
}

<h2>Solicitudes de Transporte</h2>

<p>
    <a asp-action="Create">Crear Solicitud</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroLote)
                </th>
                <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroLote)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SolicitudID" title="Editar"><i class="fa fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.SolicitudID" title="Ver Detalles"><i class="fa fa-search-plus"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.SolicitudID" title="Eliminar"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
